form {
  font-weight: bold;
}

.container {
  display: grid;
  row-gap: 30px;
  width: 100%;
  justify-items: center;
  font-family: inherit;
}
.input-group {
  display: grid;
  row-gap: 10px;
  width: 500px;
}

.input-group input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(168, 168, 168, 0.253);
  background-color: rgba(168, 168, 168, 0.096);
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder {
  opacity: 0;
}

.input-group button {
  color: white;
  border: 1px solid hsl(130.5, 30.77%, 74.51%);
  background-color: hsl(130.5, 30.77%, 74.51%);
  border-radius: 10px;
  height: 55px;
  &.invalid {
  }
}
